autosave.halscope
linuxcnc.var

.ICEauthority
.Xauthority
.axis_mdi_history
.axis_preferences
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dmrc
.latency
.local/
.mozilla/
.profile
.ssh/
.stepconf-preferences
.tooleditrc
.xfce4-session.verbose-log
.xfce4-session.verbose-log.last
.xsession-errors
.xsession-errors.old
Desktop/
Documents/
.gitconfig

linuxcnc/configs/router/jsteleop.hal
linuxcnc/configs/printer/jsteleop.hal
linuxcnc/configs/router/linuxcnc.var.bak
linuxcnc/configs/printer/linuxcnc.var.bak
linuxcnc/configs/router/autosave.halscope
linuxcnc/configs/printer/autosave.halscope

linuxcnc/nc_files/*.ngc

